* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Arial";
}

body {
  min-height: 100%;
  min-width: 100%;

  background: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #fff;
  margin-bottom: 32px;
  font-size: 48px;
  text-align: center;
}

video {
  width: 600px;
  height: 300px;
}

.url {
  background: #181818;
  min-width: 300px;
  width: 600px;
  height: 52px;
  border-radius: 24px;
  text-indent: 24px;
  color: #e2e2e2;
  border: none;
  outline: none;
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.skip {
  background: #181818;
  height: 52px;
  border-radius: 24px;
  text-indent: 24px;
  color: #e2e2e2;
  border: none;
  outline: none;
  margin-bottom: 24px;
}

.select-grid {
  background: #181818;
  height: 52px;
  border-radius: 24px;
  text-indent: 24px;
  color: #e2e2e2;
  border: none;
  outline: none;
  margin-bottom: 24px;
}

.step-intro-button {
  background: #7159c1;
  width: 200px;
  height: 52px;
  border-radius: 24px;
  color: #fff;
  text-transform: uppercase;
}

.row-buttons {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
}

.row-buttons > button {
  background: #181818;
}

.selects-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 12px;
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  h3 {
    text-align: center;
  }

  video {
    width: 350px;
    height: 200px;
  }

  .inputs-grid {
    width: 350px;
  }

  .selects-grid {
    grid-gap: 0px;
  }

  .skip,
  .url {
    width: 350px;
  }

  .inputs-grid > select {
    grid-template-columns: 70% 30%;
  }

  .row-buttons {
    width: 350px;
  }
}
